// Block
.ico-camera {
  background: url(../images/icon-camera.png) no-repeat;
  width: 21px;
  height: 19px;
  margin-left: 10px;
  display: inline-block;
}
.block-upload {
  position: relative;
  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .block-upload__note {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    .ico-camera {
      position: absolute;
      top:50%;
      left: 0;
      margin-top: -9px;
    }
    p{
      color: white;
      font-size: 12px;
      padding-left: 40px;
    }
  }
}

.highlight-1 {}

.gallery {}
.gallery-1{}

.slideshow {}
.slideshow-1 {}
