extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  .inner
    section#main
      .row
        +breadcrum('breadcrumbs', [{'title': 'dashboard', 'href': '#', 'text': 'dashboard', 'active': 'current'}, {'title': 'staff', 'href': '#', 'text': 'staff'}])
        .panel
          span staff information
        form(id="form-filter", name="form-filter", action="#", method="post")
          fieldset
            .row
              .small-6.column
                .row
                  .small-3.column
                     label(for="full-name", class="right inline") Full name:
                  .small-9.column
                    input(type="text", name="full-name", id="full-name", value="Nguyen Thi Huyen Tran")
                .row
                  .small-3.column
                     label(for="date-of-birth", class="right inline") Date of birth:
                  .small-9.column
                    input(type="text", name="date-of-birth", id="date-of-birth", value="21/04/1987")
                .row
                  .small-3.column
                     label(for="gender", class="right") Gender:
                  .small-9.column
                    input(type="radio", name="sex", id="male", value="male")
                    label(for="male") Male
                    input(type="radio", name="sex", id="female", value="female")
                    label(for="female") Female
                .row
                  .small-3.column
                    label(for="address", class="right inline") Address:
                  .small-9.column
                    input(type="text", value="10 Tran Quoc Toan, P7, Q3, TPHCM", name="address", id="address")
                .row
                  .small-3.column
                    label(for="code", class="right inline") Id:
                  .small-9.column
                    input(type="number", value="371168456", name="code", id="code")
                .row
                  .small-3.column
                    label(for="phone", class="right inline") Mobile:
                  .small-9.column
                    input(type="number", value="01234 12 34 56", name="phone", id="phone")
                .row
                  .small-3.column
                    label(for="skype", class="right inline") Skype:
                  .small-9.column
                    input(type="text", value="sutrix.tran.nguyen", name="skype", id="skype")
                .row
                  .small-3.column
                    label(for="email", class="right inline") Email:
                  .small-9.column
                    input(type="text", value="tran.nguyen@sutrixmedia.com", name="email", id="email")
                .row
                  .small-3.column
                    label(for="join-date", class="right inline") Join date:
                  .small-9.column
                    input(type="date", value="30/01/2010", name="join-date", id="join-date")
              .small-3.small-offset-3.column
                .block-upload
                  .block-upload__image
                    +img('images/image-upload.png', 'image')
                    input(type="file", name="chose-image", id="chose-image")
                  .block-upload__note
                    em.ico-camera &nbsp;
                    p choose image <br> format available JPG, PNG, GIF
            .row
              .small-12.column
                label History:
                  textarea
            .row
              .small-12.column.text-center
                input(type="submit", name="add", id="add", value="add")(class="button tiny")



