extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  .inner
    section#main
      .row
        .chart
          .graph
            ul.y-axis
              li
                span 100 staff
              li
                span 90 staff
              li
                span 80 staff
              li
                span 70 staff
              li
                span 60 staff
              li
                span 50 staff
              li
                span 40 staff
              li
                span 30 staff
              li
                span 20 staff
              li
                span 10 staff
              li
                span 0 staff
            ul.x-axis
              li
                span Frondend
              li
                span QC
              li
                span Mobile
              li
                span PHP
              li
                span Java
              li
                span Admin
            ul.bars
              li
                .bar-group
                  .bar &nbsp;
              li
                .bar-group
                  .bar &nbsp;
              li
                .bar-group
                  .bar &nbsp;
              li
                .bar-group
                  .bar &nbsp;
              li
                .bar-group
                  .bar &nbsp;
              li
                .bar-group
                  .bar &nbsp;
