extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  .inner
    section#main
      .row
        +breadcrum('breadcrumbs', [{'title': 'dashboard', 'href': '#', 'text': 'dashboard', 'active': 'current'}, {'title': 'staff', 'href': '#', 'text': 'staff'}])
        .panel
          span filter
          +link('add', '#', 'add').right
        form(id="form-filter", name="form-filter", action="#", method="post")
          fieldset
            .row
              .small-6.small-centered.column
                .row
                  .small-2.column
                     label(for="name", class="right inline") Name:
                  .small-10.column
                    input(type="text", name="name", id="name")
            .row
              .small-6.small-centered.column
                .row
                  .small-2.column
                    label(for="detp", class="right inline") Department:
                  .small-10.column
                    select(name="detp", id="detp")
                      option(value="") -- Choose department --
                      option(value="frontend") Frontend
                      option(value="qc") QC
                      option(value="java") Java
            .text-center
              +link('ok').button.tiny.btn-1
        .panel
          span Result
        table
          thead
            tr
              th Fullname
              th Join date
              th Skype
              th Email
              th Team
          tbody
            tr
              td: +link("Nguyen Thi Huyen Tran")
              td: +link("20/10/2010")
              td: +link("sutrix.tran.nguyen")
              td: +link("tran.nguyen@sutrixmedia.com")
              td: +link("Frontend")
            tr
              td: +link("Pham Thi Huyen Tran")
              td: +link("31/12/2013")
              td: +link("sutrix.tran.pham")
              td: +link("tran.pham@sutrixmedia.com")
              td: +link("Frontend")
      .row
        .panel
          span Staff Information
          +link('Edit', '#', 'Edit').right
         .small-6.column
          .row
            .small-3.column Full name:
            .small-9.column Nguyen Thi Huyen Tran
          .row
            .small-3.column Date of birth:
            .small-9.column 21/04/1987
          .row
            .small-3.column Gender:
            .small-9.column Female
          .row
            .small-3.column Address:
            .small-9.column 10 Tran Quoc Toan, P7, Q3, TPHCM
          .row
            .small-3.column Id:
            .small-9.column 371168456
          .row
            .small-3.column Mobile:
            .small-9.column 01234 12 34 56
          .row
            .small-3.column Skype:
            .small-9.column sutrix.tran.nguyen
          .row
            .small-3.column Email:
            .small-9.column tran.nguyen@sutrixmedia.com
          .row
            .small-3.column Join date:
            .small-9.column 30/01/2010
        .small-6.column
          .block-image
            +img('images/image.jpg', 'image')
            input(type="file", name="chose-image", id="chose-image")
          .block-note
            em.ico-camera &nbsp;
            .guide-note
              p choose image <br> format available JPG, PNG, GIF
      .row
        h2 History:
        .panel
          .title
            span 20/10/2010
            +link('x', '#').right.btn-remove
          .desc
            p KAY kute qua di h0h0
        .panel
          .title
            span 20/10/2010
            +link('x', '#').right.btn-remove
          .desc
            p Ha Lam Hong Link
        .panel
          .title
            span 20/10/2010
            +link('x', '#').right.btn-remove
          .desc
            p Tran Ba Dao
        .panel
          .title
            span 20/10/2010
            +link('x', '#').right.btn-remove
          .desc
            p Nguyen Viet Bao Trinh
      form(id="form-add", name="form-add", action="#", method="post")
        fieldset
          .row
            .small-12.column
              textarea
          .text-center
            input(type="submit", name="add", id="add", value="Add")(class="button tiny")

