extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  .inner
    section#main
      form(id="form-login", name="form-login", action="#", method="post")
        fieldset
          .row
            .small-6.small-centered.column
              .row
                .small-2.column
                   label Username:
                .small-10.column
                  input(type="text", name="username", id="username")
          .row
            .small-6.small-centered.column
              .row
                .small-2.column
                  label Password:
                .small-10.column
                  input(type="password", name="pass", id="pass")
          .text-center
            a(href="#", class="button small") ok
